img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
    color: dimgrey;
  }
  
  body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #e8edf3;
    margin: 0;
    padding: 20px;
  }

  #taskInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #35a6f1;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  li {
    background-color: #fff;
    padding: 10px;
    width: 1000px;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: left;
  }

  li span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  li button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fafe03;
    color: #1c0101;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  li button.edit {
    background-color: #2196f3;
  }

  li button:hover {
    opacity: 0.8;
  }

  li input[type="checkbox"] {
    margin-right: 10px;
    color:#35f151 ;
  }
